// generate classes for width, min-width, max-width property from w-1 to w-100 with step is @width_step
@width_step: 0.25rem;
@width_range: range(100);
each(@width_range, {
    .w-@{value} {
       width: (@value * @width_step);
    }

    .min-w-@{value} {
      min-width: (@value * @width_step);
    }

    .max-w-@{value} {
      max-width: (@value * @width_step);
    }
})
.w-full {
  width: 100%;
}

// generate classes for height, min-height, max-height property from w-1 to w-100 with step is @width_step
@height_step: 0.25rem;
@height_range: range(100);
each(@height_range, {
    .w-@{value} {
       width: (@value * @height_step);
    }

    .min-h-@{value} {
      min-height: (@value * @height_step);
    }

    .max-h-@{value} {
      max-height: (@value * @height_step);
    }
})

.h-full {
  height: 100%;
}
